<app-menu></app-menu>

<router-outlet></router-outlet>
<!--
<div class="text_layout">
  
  <h2>{{valor | number}}</h2>
  <h3>{{obj |json}}</h3>
</div>
<button pButton label="Cambiar nombre" (click)="mostrarNombre()"  icon="pi pi-wallet" iconPos="right" class="p-button-danger p-button-rounded p-button-outlined p-button-sm"></button>
<button pButton type="button" label="Small" icon="pi pi-check" ></button>

<p-card [header]="nombre |titlecase" [subheader]="nombre">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident mollitia quae dolorum distinctio. Tempora modi porro aliquam, ab saepe hic obcaecati provident sapiente officia laboriosam distinctio asperiores! Blanditiis, quidem dolor.
</p-card>-->